* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: arial;
    font-size: 62.5%;
}

header {
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem;
    padding-top: 2rem;
}

footer{    
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem;
}
.conteudo{
    font-size: 1.6rem;
    background-color: #fff;
    padding: 1rem;
    margin: 0;
}
h3, h4{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}